.leadDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainCenter {
    width: 40vw;
    color: #0d6efd;
    margin-left: 40px;
}

.leaderDiv img {
    border-radius: 5px;
}

.leaderDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}