.newSheet4 {
    font-size: small;
    border: 2px solid black;
}

.mb-3 {
    max-width: 540px;
    height: fit-content;
}

.cardDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.cardDiv img {
    padding: 5px 5px;
}

