.lastSheet {
    background-color: #0d6efd;
    margin-top: 60px;
    color: white;
}

.finalMoves {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerPieces {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
